.item-2hkk8m {
    background-color: #570092;
}
.content-98HsJk {
    background-image: url("https://cdn.discordapp.com/attachments/845657733742723112/852887432504410153/90068828_p0.png");
    background-size:cover;
}
.chat-3bRxxu {
    background: #250333ad;
}
.sidebar-2K8pFh {
    background: #12042954;
}
.container-3w7J-x {
    background: #120429c9;
}
.members-1998pB, .members-1998pB>div {
    background-color:#210527a3;
}
.panels-j1Uci_ {
    background-color: #210527a3;
}
.scrollableContainer-2NUZem {
    background-color: #120019;
}
.unread-1xRYoj {
    background-color: #120019;
}
.reaction-1hd86g {
    background: #120019;
}
.menu-3sdvDG {
    background: #120019;
}
.wrapper-2aW0bm {
    background-color: #120019;
}
.container-1r6BKw.themed-ANHk51 {
    background: #210527a3;
}
.scroller-1Bvpku {
    background-color: #1f062b;
}
.searchBar-3dMhjb {
    background-color: #120019;
}
.theme-dark .children-19S4PO:after {
    background: 0;
}
.markup-2BOw-j code {
    background: #120019;
    border: 1px solid #210527a3;
}
.friendsEmpty-1K9B4k {
    background: #250333ad;
}
.container-lRFx4q {
    background-color: #210527a3;
}
.emptyCard-1RJw8n {
    background: #120019;
}
.peopleList-3c4jOR {
    background: #250333ad;
}
.scroller-1JbKMe {
    background-color: #160028f0;
}
.privateChannels-1nO12o, .searchBar-6Kv8R2 {
    background: #2d022566;
;
}
.actionButton-uPB8Fs {
    background-color: #120019;
}
.embedFull-2tM8-- {
    border-left: 4px solid var(--background-tertiary);
}

.wrapper-35wsBm {
    background-color: #120019;
}
.childWrapper-anI2G9 {
    background-color: #120019;
    color: var(--text-normal);
}
.headerTop-2cWpdB {
    background-color: #120019;
    border-bottom: 1px solid #120019;
}
.body-3HBlXn {
    background-color: #210527a3;
}
.footer-1N3bR3 {
    background-color: #210527a3;
    color: var(--interactive-active);
}
.avatar-37jOim {
    border: 6px solid #120019;
    background-color: #120019;
}
.headerNormal-1mX3KY {
    background-color: #900a87;
}
.input-2_SIlA {
    font-size: 14px;
    background-color: #120019;
}
.container-1taM1r {
    background: #1f062b;
}
.container-3baos1 {
    height: 60px;
}
